$font-accent: 'Hatton-Regular', sans-serif;

$font-bold: 'AribauGroteskBold', sans-serif;

$font-kr-thin: 'Pretendard-Thin', sans-serif;
$font-kr-regular: 'Pretendard-Regular', sans-serif;
$font-kr-medi: 'Pretendard-Medium', sans-serif;
$font-kr-bold: 'Pretendard-Bold', sans-serif;
$font-kr-black: 'Pretendard-Black', sans-serif;

//color
$color-primary: #FFFF00;